<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionstest20211223150847.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/981800aa-ac0b-47c8-a54a-f3a7bdff9a1d/resourcegroups/AzureFunctionsTest20211223150847ResourceGroup/providers/Microsoft.Web/sites/AzureFunctionsTest20211223150847</ResourceId>
    <UserName>$AzureFunctionsTest20211223150847</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunctionstest20211223150847.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>